<div class="card flex-row mb-5">
    <div class="w-20 position-relative">
        <a [routerLink]="'./' + data.id">
            <img class="card-img-left" [src]="'/assets/img/details/small-3.jpg'" alt="Card image cap">
        </a>
    </div>
    <div class="w-60 d-flex align-items-center">
        <div class="card-body">
            <p class="mb-2"><a [routerLink]="'./' + data.author.id">{{data.author.name}}</a> wrote</p>
            <h3 class="mb-2 " ellipsis><b><a [routerLink]="'./' + data.id">{{data.title}}</a></b></h3>
            <p class="listing-desc text-muted" ellipsis><i>{{data.publishedAt | date}}</i>- {{data.summary}}</p>
            <div class="mb-5">
                <div class="glyph-icon iconsminds-tag d-inline-block mr-2"></div>
                <span class="badge-pill badge-outline-info mr-2" *ngFor="let t of data.tags">{{t}}</span>
            </div>
            <a [routerLink]="'./' + data.id">Read more...</a>
        </div>
    </div>
    <div class="w-20 d-flex align-items-center">
        <div class="card-body">
            <p><i class="glyph-icon iconsminds-pen"></i> {{data.commentCount}} comments</p>
        </div>
    </div>
</div>