<div>
    <div class="card card-blank flex-row mb-5" *ngFor="let item of data">
        <div class="w-20 position-relative">
            <a [routerLink]="'./' + data.id">
                <img class="card-img-left" [src]="'/assets/img/details/small-3.jpg'" alt="Card image cap">
            </a>
        </div>
        <div class="w-60 d-flex align-items-center">
            <div class="card-body">
                <p><a [routerLink]="'./' + item.author.id">{{item.author.name}}</a> wrote</p>
                <a [routerLink]="'./' + item.id">
                    <h5 class="mb-2 listing-heading" ellipsis>{{item.title}}</h5>
                </a>
                <p class="listing-desc text-muted" ellipsis>{{item.publishedAt | date}} - {{item.summary}}</p>
                <a [routerLink]="'./' + data.id">Read more...</a>
            </div>
        </div>
        <div class="w-20 d-flex align-items-center">
            <div class="card-body">
                <p><i class="glyph-icon simple-icon-heart"></i> 30 likes</p>
                <p><i class="glyph-icon iconsminds-pen"></i> 10 comments</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pagination 
        [totalItems]="totalCount" 
        [itemsPerPage]="15" 
        [rotate]="true" 
        [maxSize]="5"
        [(ngModel)]="currentPage" 
        (pageChanged)="onPageChanged($event)" 
        class="justify-content-center"
        [customNextTemplate]="nextTemplate" 
        [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
<i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
<i class='simple-icon-arrow-left'></i>
</ng-template>