
.list-search-btns{
    .list-group-item{
        border-radius: 10px;
        cursor: pointer;
        width:65%;
    }
}

.form-group{
    .open-top{
        border-top:0;
        border-left: 0;
        border-right: 0;
    }
}