<div class="container mt-5">
    <div class="row h-100">
      <div class="col-12 col-md-10 mx-auto my-auto">
        <div class="card auth-card">
            <div class="position-relative image-side ">
                <p class=" text-white h2">Find your password</p>
                <br>
                <p class="white mb-0">
                    Have an account ?
                <a routerLink="/login" class="white white-underline-link">Login here</a>.
                </p>
            </div>

            <div class="form-side">
                <a class="c-pointer">
                <span class="logo-single"></span>
                </a>
                <h6 class="mb-4">Tell us your email</h6>
                <br>
                
                <ng-container [ngSwitch]="step">
                    <ng-container *ngSwitchCase="1">
                        <ng-container *ngTemplateOutlet="sendEmail"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                        <ng-container *ngTemplateOutlet="verifyForm"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="3">
                        <ng-container *ngTemplateOutlet="resetPasswordForm"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <ng-container *ngTemplateOutlet="sendEmail"></ng-container>
                    </ng-container>

                </ng-container>
    
                
            
            </div>
        </div>
      </div>
    </div>
</div>

<ng-template #msgTmp>
<div class="modal-body text-center">
    {{msg}}
</div>
</ng-template>

<ng-template #sendEmail>
    <form #forgetForm="ngForm" novalidate (ngSubmit)="onSubmitEmail()">
        <label class="form-group has-float-label">
            <input class="form-control" required email ngModel #email="ngModel" name="email" [(ngModel)]="emailModel" />
            <span>{{ 'user.email' | translate }}</span>
            <div *ngIf="!email.valid && forgetForm.submitted" class="invalid-tooltip">Email is required!</div>
        </label>

        <div class="d-flex justify-content-between align-items-right">
            <div></div>
            <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
            [isDisabled]="buttonDisabled" >
            {{ 'user.send-email' | translate | uppercase }}
            </app-state-button>
        </div>
    </form>
</ng-template>

<ng-template #verifyForm>
    2
</ng-template>

<ng-template #resetPasswordForm>
3
</ng-template>