<div class="d-flex flex-row-reverse mb-5">
    <div class="p-2"><button class="btn btn-primary btn-sm" (click)="onOpenWriteReview()"><i class="glyph-icon simple-icon-pencil"></i> Write a review</button></div>
</div>

<div class="remove-last-border">
    <div class="d-flex flex-row mb-3 border-bottom justify-content-between" *ngFor="let r of data">
        <a href="javascript:;">
          <img [src]="r.image" [alt]="r.name"
            class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
        </a>
        <div class="pl-3 flex-grow-1">
          <a href="javascript:;">
            <p class="font-weight-medium mb-0">{{r.name}}</p>
            <p class="text-muted mb-3 text-small">{{r.date}}</p>
          </a>
          <div>
              <rating [(ngModel)]="r.rate" 
                      [ngModelOptions]="{standalone:true}"
                      [max]="5" 
                      [readonly]="true" 
                      [titles]="['1','2','3','4','5']"
                      [customTemplate]="t"></rating>
          </div>
          <p class="mt-3">
            {{r.review}}
          </p>
          
          <div class="row social-image-row gallery mb-2" *ngIf="!!r.album">
            <div class="col-4" *ngFor="let image of r.album; let i=index">
              <img class="img-fluid border-radius c-pointer" [src]="image.thumb"/>
            </div>
          </div>

          <p>
            <a href="javascript:;" (click)="likeComment(r)" *ngIf="!r.likedByYou" class="d-inline-block mr-3">
                <span class="badge badge-pill badge-light">
                    <i class="glyph-icon simple-icon-like"></i> {{r.likes}} likes
                </span>
            </a>
            <a href="javascript:;" (click)="unlikeComment(r)" *ngIf="r.likedByYou" class="d-inline-block mr-3">
              <span class="badge badge-pill badge-info">
                  <i class="glyph-icon simple-icon-like"></i> {{r.likes}} likes
              </span>
          </a>
        </p>
        </div>
        <div class="comment-likes">
          <span dropdown container="#anchorDropdownContainer">
              <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown"><i class="glyph-icon simple-icon-options"></i></a>
              <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                  <li><a class="dropdown-item" (click)="removeComment(r.id)"><i class="glyph-icon simple-icon-trash"></i> Remove Comment</a></li>
                  <li><a class="dropdown-item" (click)="reportComment(r.id)"><i class="glyph-icon simple-icon-flag"></i> Report Comment</a></li>
              </ul>
          </span>
        </div>
      </div>
</div>

<div>
  <pagination 
  [totalItems]="3" 
  [itemsPerPage]="6" 
  [rotate]="true" 
  [maxSize]="5"
  [(ngModel)]="page" 
  (pageChanged)="onPageChange($event)" 
  class="justify-content-center"
  [customNextTemplate]="nextTemplate" 
  [customPreviousTemplate]="prevTemplate">
  </pagination>
</div>

<ng-template #t let-index="index" let-value="value">{{index < value ? '' : ''}}</ng-template>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
  </ng-template>
  <ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
  </ng-template>