.my-waterfall {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    visibility: visible;
}

.my-waterfall .item {
    text-align: center;
    display: inline-block;
    width: 14.2%;
    margin-bottom:15px;
    padding: 10px;
}