<div class="row">
    <div class="col-12">
        <h1 class="text-center d-block mb-3">Latest Activities</h1>
    </div>
</div>
<div style="height:100px"></div>

<div class="row">
    <div class="col-12">
        <div class="my-waterfall" #myWaterfall>
            <div class="item">
                <div class="card card-blank">
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this placsakjxahxshagxshaghxasdhashdgsjahxhsagjdsa sd as f sd fd sf ds g fd gfd g fd g fdg fde</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card card-blank">
                    <div class="position-relative">
                        <img class="card-img-top" src="/assets/img/cards/thumb-1.jpg" alt="Card image cap">
                      </div>
                      <div class="card-body">
                        <a routerLink="./">
                          <p class="list-item-heading mb-4">I like this place</p>
                        </a>
                        <footer>
                          <p class="text-muted text-small mb-0 font-weight-light">09.04.2020</p>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
</div>