<div class="card mb-4">
    <div class="position-absolute card-top-buttons">
      <button class="btn btn-outline-white icon-button ">
        <i class="simple-icon-camera"></i>
      </button>
    </div>
  
    <img alt="Profile" src="/assets/img/profiles/profile-default-big.jpg"class="card-img-top">
  
  
    <div class="card-body">
      <p class="text-muted text-small mb-2">{{'menu.about' | translate}}</p>
  
      <p class="text-muted text-small mb-2">{{'pages.location' | translate}}</p>
      <p class="mb-3">Nairobi, Kenya</p>
  
      <p class="text-muted text-small mb-2">8 Reviews, 0 Photos</p>
  

    </div>
  </div>